<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Consulta">
    
    <select id="getAllConsultas" resultType="pojos.Consulta">
        SELECT
        idConsulta,
        consultas.idPaciente,
        pacientes.usuario,
        consultas.observaciones,
        consultas.peso,
        consultas.talla,
        IMC,
        consultas.idDieta,
        dietas.nombre
        FROM consultas 
        INNER JOIN pacientes ON consultas.idPaciente = pacientes.idPaciente 
        INNER JOIN dietas ON consultas.idDieta = dietas.idDieta
    </select>
    
    <select id="getConsultaByID" resultType="pojos.Consulta">
        SELECT * FROM consultas WHERE idConsulta = #{idConsulta}
    </select>

    <select id="getConsultaByIDPaciente" resultType="pojos.Consulta">
        SELECT * FROM consultas WHERE idPaciente = #{idPaciente}
        ORDER BY idConsulta DESC
        LIMIT 1
    </select>
    
    <select id="getConsultasOfPaciente" resultType="pojos.Consulta" parameterType="Integer">
        SELECT * FROM consultas WHERE idPaciente = #{idPaciente}
        ORDER BY idConsulta DESC
    </select>
            
    <insert id="registrarConsulta" parameterType="pojos.Consulta">
        INSERT INTO consultas (idPaciente, idDieta, peso, imc, observaciones, talla)
        VALUES (#{idPaciente}, #{idDieta}, #{peso}, #{imc}, #{observaciones}, #{talla})
    </insert>
    
    <update id="actualizarConsulta" parameterType="pojos.Consulta">
        UPDATE consultas SET 
        idPaciente = #{idPaciente},
        idDieta = #{idDieta},
        peso = #{peso},
        imc = #{imc},
        observaciones = #{observaciones},
        talla = #{talla}
        WHERE idConsulta = #{idConsulta}
    </update>
    
    <delete id="eliminarConsulta" parameterType="int">
        DELETE FROM consultas WHERE idConsulta = #{idConsulta}
    </delete>
    
</mapper>